/* SET IMAGE & CHANGE HEADER SIZE */
header {
  background-image: url("../images/index-banner/DSC01281.JPG");
  background-position: center 85%;
  height: 700px;
}

header .overlay {
  height: 700px;
}

#stay-by-sea {
  font-size: 2.2em;
  margin-top: 450px;
  margin-right: 2%;
  float: right;
  clear: both;
}