/* SET IMAGE & CHANGE HEADER SIZE */
header {
  background-image: url("../images/index-banner/DSC01281.JPG");
  background-position: center 85%;
  height: 700px;
}

header .overlay {
  height: 700px;
}

header p, header h1 {
  height: 20px;
  line-height: 420px;
}