* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

body {
    margin: 0px;
    color: rgba(26, 26, 26, 0.7);
    font-family: Garamond;
}

a {
  text-decoration: none;
  color: inherit;
}

footer {
  padding: 40px;
  clear: both;
  text-align: center;
}

footer p:first-child {
  font-family: Arial;
}

blockquote {
  font-style: italic;
}

img {
  max-height: 100%;
  max-width: 100%;
}

#overlay {
  background-color: rgba(26,26,26,0.3);
  height: 507px;
  padding: 20px;
}
 
#site-header {
  /* Background image centering thanks to https://dash.generalassemb.ly */
  background-size: cover;
  background-position: center 85%;
}

#site-header img, #nav-main li {
  display: inline;
}

#site-header p, #site-header h1 {
  text-align: center;
}

#site-header p {
  font-size: 1.6em;
  font-family: 'Nothing You Could Do', cursive;
}

#site-header h1 {
  font-family: 'Lato', sans-serif;
  font-size: 4em;
  font-weight: 100;
  letter-spacing: 3px;
  margin-left: 2px;
}

#site-header * {
  color: white;
}

#nav-main {
  text-align: top;
  float: right;
  padding: 4px;
  margin-right: -20px;
}

#nav-main a {
  font-family: Arial;
  font-size: 0.75em;
  letter-spacing: 2px;
}

#nav-main li:last-child a {
  padding: 13px 20px;
  border: 2px solid white;
  border-radius: 25px;
}


#nav-main li:last-child a:hover {
  background-color: white;
  color: rgba(26, 26, 26, 0.7);
}

#nav-main li {
  padding: 0 15px;
}


#logo {
  width: 315px;
  height: 63px;
}

.side-nav, .stay-main {
  float: left;
}

.container {
  width: 1020px;
  padding: 96px 15px;
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-style: normal;
  letter-spacing: 0;
  line-height: 1.6em;
}

.container h1 {
  font-weight: 400;
  color: black;
  font-size: 32px;
}

.container .intro, .container article {
  padding: 17px;
}

.container .intro {
  width: 680px;
  margin: 0 auto 69px auto;
  text-align: left;
}

.container article {
  float: left;
  width: 495px;
}
